<div id="productList" class="content-wrapper" ng-init="$pc.init()" style="min-height: 916px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Products</h3> 
                <toaster-container></toaster-container>
            </div>
            <div class="box-header">
                <button  class="box-title btn btn-primary btn-flat" ng-click="$pc.goToAdd()">Add New Product</button>
                <div class="box-body table-responsive no-padding">
                    <div grid-data ng-if="$pc.productTableData.data.length > 0" grid-options="$pc.productTableData" grid-actions="gridActions">
                        
                        <div class="form-group">
                            <grid-pagination max-size="10"
                                boundary-links="true"
                                class="pagination-sm"
                                total-items="paginationOptions.totalItems"
                                ng-model="paginationOptions.currentPage"
                                ng-change="reloadGrid()"
                                items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                        </div>
                        
                        <table class="table">
                            <thead> 
                                <tr>
                                    <th sortable="name" class="sortable">
                                        Name
                                    </th>
                                    <th>
                                        Price
                                    </th>  
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Sub-Category
                                    </th>
                                    <th>
                                        Brand
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>          
                                <tr grid-item>
                                    <td>
                                        <span ng-if="!item.isNew"  ng-bind="item.name"></span>
                                    </td>
                                    <td>
                                        <span ng-if="!item.isNew"  ng-bind="item.price"></span>
                                    </td>
                                    <td>
                                        <span ng-if="!item.isNew"  ng-bind="item.categoryname"></span>
                                    </td>
                                    <td>
                                        <span ng-if="!item.isNew"  ng-bind="item.subCategoryName"></span>
                                    </td>
                                    <td>
                                        <span ng-if="!item.isNew"  ng-bind="item.brandName"></span>
                                    </td>
                                    <td><i id="minIcon-Trash"  class = "fa fa-trash" ng-click="$pc.deleteRow(item, $index)"></i>&nbsp&nbsp
                                        <i id="minIcon-Edit" class = "fa fa-edit"  ng-click="$pc.editRow(item)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="$pc.productTableData.data.length == 0">
                        There is no data
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>