<div id = "register-form" ng-init = "$rg.anurag()" class = "col-md-4 col-md-offset-4 animated fadeInLeftBig">
    <div class = "panel panel-default">
        <div class = "panel-body"> 
            <h2> Register in 2 easy steps!</h2>
            <toaster-container></toaster-container>
            <form name = "registrationForm" autocomplete = "false" ng-submit = "$rg.registerUser(registrationForm.$valid)"  novalidate>
                <div = "form-group">
                    <label for = "email-input">Email Id </label>
                    <span ng-class="{'glyphicon glyphicon-asterisk pull-right':registrationForm.email.$error.email || registrationForm.email.$error.required}"></span>
                    <input type = "email" id = "email-input" name = "email" class = "form-control" ng-model = "$rg.user.email" placeholder = ".... your email is safe with us." required>
                    <label for = "pass">Password </label>
                    <span ng-class = "{'glyphicon glyphicon-asterisk pull-right' : registrationForm.pass.$error.pattern || registrationForm.pass.$error.minlength || registrationForm.pass.$error.maxlength || registrationForm.pass.$error.required}"></span>
                    <input type = "password" id = "pass-input" name = "pass" class = "form-control" ng-model = "$rg.user.password" ng-pattern = "/^\S*$/" ng-maxlength = "8" ng-minlength = "4" placeholder = "...be sure is a strong password." data-toggle="popover" data-content="4-16 characters, no spaces allowed." data-placement="right" data-trigger="focus"  required> <br>
                    <button type = "submit" ng-disabled = "registrationForm.$invalid" class="btn btn-primary btn-lg btn-block"> Register </button>
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click = "$rg.goToLogin()"> Cancel </button>
                </div>
            </form>
            <p><span class = "glyphicon glyphicon-asterisk">Required </span></p>
        </div>
    </div>
</div>  