fa-asterisk {
    align-items: flex-end;
}

.glyphicon {
    color: red;
    padding-bottom: 3px;
    size: 1px
}

.sub-label {
    color: #6f6f6f;
    font-size: 0.906em;

}

#minIcon-Trash {
    color: red;
    size: 15px;
    cursor: pointer;
}
#minIcon-Edit {
    color: #00c0ef;
    size: 15px;
    cursor: pointer;
}

#minIconMinus{
    color: red;
    size: 15px;
    cursor : pointer;
}

tags-input{
    height: auto;
    min-height: 30px;
    position: relative;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    width: 80px;
    height: 50px;   
}
/* modal-body {
    height: 25%;
} */

#fileName{
    font-family: Arial, Helvetica, sans-serif;
}

#progressBar{
    height: 20px;
}

#imageList{
    padding-top: 50px;
    padding-left: 90px;
}
.dragover {
    border: 5px dashed #00c0ef
    
}