<div class="content-wrapper" style="min-height: 916px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Products</h3> 
                <toaster-container></toaster-container>
            </div>
            <div class="box-header">
                <button  class="box-title btn btn-primary btn-flat" ng-click="$pc.goToAdd()">Add Inventory</button>
                <div class="box-body table-responsive no-padding">
                    
                </div>
            </div>
        </div>
    </div>
</div>