<div class="content-wrapper" ng-init="$cc.init()" style="min-height: 916px;">
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Category</h3>
                <toaster-container></toaster-container>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of category</h3>
                    <div class="box-body table-responsive no-padding">
                        <div grid-data grid-options="$cc.gridOptions" grid-actions="gridActions">
                            <!--  table layout goes below. -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th sortable="code" class="sortable">
                                       Check
                                    </th>
                                    <th sortable="name" class="sortable">
                                        Name
                                    </th>
                                    <th sortable="description" class="sortable">
                                        Description
                                    </th>
                                    <th sortable='total.value' class="sortable">
                                        Action
                                    </th>
                                </tr>
                                </thead>
                                <tbody>          
                                    <tr grid-item>
                                        <td><span><input ng-if="!item.isNew" type="checkbox"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!item.isNew" ng-if="$cc.editingData[$index]" ng-bind="item.name"></span>
                                            <span ><input type="text" ng-if="item.isNew" ng-model="$cc.category.name"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!item.isNew" ng-if="$cc.editingData[$index]" ng-bind="item.description"></span>
                                            <input ng-if="item.isNew" ng-model="$cc.category.description">
                                        </td>
                                        <td><i id="minIcon" ng-if="!item.isNew" ng-if="$cc.editingData[$index]" class = "fa fa-trash" ng-click="$cc.delete(item)"></i>&nbsp&nbsp
                                            <i id="minIcon" ng-if="!item.isNew" ng-if="$cc.editingData[$index]" class = "fa fa-edit"  ng-click="$cc.edit($index)"></i>
                                            <button ng-if="item.isNew && $cc.addButton" class="btn btn-primary btn-flat" ng-click="$cc.updateRow(item)">Update</button>
                                            <button ng-if="item.isNew && $cc.addButton" class="btn btn-danger btn-flat" ng-click="$cc.CancelUpdate($index)">Cancel</button>
                                            <button ng-click="$cc.cancelNewRow($index)" ng-if="item.isNew && !$cc.addButton" class="btn btn-danger btn-flat">Cancel</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                    <hr>
                    <br>
                    <button ng-click="$cc.addCategory()" ng-if="$cc.addButton"  class="btn btn-primary btn-flat">Add Category</button>
                    <button ng-click="$cc.saveCategory()" ng-if="!$cc.addButton" class="btn btn-success btn-flat">Save</button>
                <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Sub-Category</h3>
                <toaster-container></toaster-container>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Sub-Category</h3>
                    <div class="box-body table-responsive no-padding">
                        <div grid-data grid-options="$cc.gridOptions" grid-actions="gridActions">
                            <!--  table layout goes below. -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th sortable="name" class="sortable">
                                        Name
                                    </th>
                                    <th sortable="description" class="sortable">
                                        Description
                                    </th>
                                </tr>
                                </thead>
                                <tbody>          
                                    <tr grid-item>
                                        <td>
                                            <span ng-if="!item.isNew" ng-if="$cc.editingData[$index]" ng-bind="item.name"></span>
                                            <span ><input type="text" ng-if="item.isNew" ng-model="$cc.category.name"></span>
                                        </td>
                                        <td>
                                            <span ng-if="!item.isNew" ng-if="$cc.editingData[$index]" ng-bind="item.description"></span>
                                            <input ng-if="item.isNew" ng-model="$cc.category.description">
                                        </td>
                                        <td><i id="minIcon" ng-if="!item.isNew" ng-if="$cc.editingData[$index]" class = "fa fa-trash" ng-click="$cc.delete(item)"></i>&nbsp&nbsp
                                            <i id="minIcon" ng-if="!item.isNew" ng-if="$cc.editingData[$index]" class = "fa fa-edit"  ng-click="$cc.edit($index)"></i>
                                            <button ng-if="item.isNew && $cc.addButton" class="btn btn-primary btn-flat" ng-click="$cc.updateRow(item)">Update</button>
                                            <button ng-if="item.isNew && $cc.addButton" class="btn btn-danger btn-flat" ng-click="$cc.CancelUpdate($index)">Cancel</button>
                                            <button ng-click="$cc.cancelNewRow($index)" ng-if="item.isNew && !$cc.addButton" class="btn btn-danger btn-flat">Cancel</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                    </div>
                    <hr>
                    <br>
                    <button ng-click="$cc.addCategory()" ng-if="$cc.addButton"  class="btn btn-primary btn-flat">Add Category</button>
                    <button ng-click="$cc.saveCategory()" ng-if="!$cc.addButton" class="btn btn-success btn-flat">Save</button>
                <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>

</div>



